%h1 Flux ICS

- @organizations.each do |organization|
  .organization-feed-panel.panel.panel-default
    .panel-heading
      %h3.panel-title= organization.display_name
    .panel-body
      %p
        Flux ICS pour l'organisation
        %strong= organization.display_name
        \:


        .input-group.feed-url-input-group
          %span.input-group-addon
            %button.copy-feed-url-btn{ :"data-clipboard-target" => "feed-url-organization-#{ organization.id }", title: "Click me to copy the feed URL to your clipboard."}
              = fa_icon 'copy'

          %input.feed-url.form-control{ id: "feed-url-organization-#{ organization.id }", disabled: 'disabled', value: organization_feed_path(organization_id: organization.id, format: 'ics', only_path: false, auth_token: current_user.authentication_token) }

      %hr

      = link_to "#organization-boards-#{ organization.id }", class: 'btn btn-block btn-default collapsed organization-boards-collapse-btn', data: { toggle: 'collapse', :"details-url" => organization_boards_path(organization_id: organization.id) } do
        Afficher les Boards
        %span.caret


    %ul.organization-boards.list-group.collapse{ id: "organization-boards-#{ organization.id }" }
      %li.list-group-item.loader
        = fa_icon 'spinner spin'
        Loading ...


