!!!
%html
  %head
    %title Trello Calendar Feed
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header#top.navbar.navbar-default.navbar-fixed-top{role: "banner"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Trello Calendar Feed", root_path, class: "navbar-brand"
        %nav.collapse.navbar-collapse.bs-navbar-collapse{role: "navigation"}
          %ul.nav.navbar-right.navbar-nav
            - if user_signed_in?
              %li
                %a
                  Signed in as :
                  \#{current_user.name}
              %li
                = link_to destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm" do
                  Sign out
            - else
              %li
                = link_to "Sign in with Trello", user_omniauth_authorize_path(:trello)
    = display_flash
    .container.main-container
      = yield