<!DOCTYPE html>
<html>
  <head>
    <title>Trello Calendar Feed</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="navbar navbar-default navbar-fixed-top" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Trello Calendar Feed", root_path, class: "navbar-brand" %>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-right navbar-nav">
            <% if user_signed_in? %>
              <li>
                <a>
                  Signed in as :
                  <%= current_user.name %>
                </a>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm" do %>
                  Sign out
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign in with Trello", user_omniauth_authorize_path(:trello) %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <%= display_flash %>

    <div class="container main-container">
      <%= yield %>
    </div>
  </body>
</html>
